/* Raleway font styles */
.raleway-heading-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2em;
}

.raleway-body-regular {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* Exo 2 font styles */
.exo-2-heading-light {
  font-family: "Exo 2", serif;
  font-weight: 300;
  font-size: 1.8em;
}

.exo-2-body-regular {
  font-family: "Exo 2", serif;
  font-weight: 400;
  font-size: 16px;
}

/* Global styles */
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f8fb;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2 {
  font-weight: 600;
  color: #2c3e50;
}

p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

header,
footer {
  background-color: #5386e4; /* Primary color */
  padding: 1rem;
  text-align: center;
  color: white;
}

footer p {
  margin: 0;
  font-size: 0.875rem;
  color: black;
}

.hero-section {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #f0f8ff; /* Soft background */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-image {
  max-width: 100%;
  height: auto;
  width: 250px;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .hero-image {
    width: 400px;
  }
}

/* Current Weather Section */
.current-weather-section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin: 1.5rem 1rem;
  text-align: center;
}

.weather-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.current-weather-text {
  font-size: 1.25rem;
  font-weight: 600;
  color: #2980b9; /* Accent color */
}

#weather-img-wrapper img {
  width: 60px;
  height: 60px;
}

figcaption {
  font-style: italic;
  color: black;
  font-size: 0.875rem;
}

.current-weather-recommendation {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: #2980b9; /* Accent color */
  font-weight: 600;
}

/* 5-Day Forecast Section */
.five-day-weather-section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin: 1.5rem 1rem;
}

.five-day-weather-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.individual-day-wrapper {
  background-color: #5386e4; /* Primary color */
  border-radius: 10px;
  padding: 1rem;
  flex: 1 1 30%;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.individual-day-wrapper p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: black;
}

/* Responsive Design */
@media (max-width: 768px) {
  .five-day-weather-wrapper {
    flex-direction: column;
  }
}
